@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/* 
  ================================
  FORM
  ================================
*/

form {
    @include main.FlexCenCen;
    flex-direction: column;

    & .inputs {
        width: 100%;
        display: flex;

        & input,
        & textarea,
        & select {
            width: 100%;
            max-width: 220px;
            height: 35px;
            margin: auto;
            margin-bottom: 20px;
            border: none;
            outline: none;
            border-radius: 15px;
            padding: 0 15px;
            color: #666;
        }
    }

    & .button {
        position: relative;

        & input,
        & button {
            padding: 6px 25px;
            border: none;
            outline: none;
            color: #fff;
            font-size: reset.toRem(15);
            font-weight: 600;
            border-radius: 10px;
            background-color: #8429c1;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: #247bc2;
                scale: 1.1;
            }
        }
    }
}